<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Profile
    </title>
    <link rel="stylesheet" href="public/profile_teacher.css">
</head>

<body>
    <div id="mainbox" class="main">


        <div class="box" id="heading">
            <h2>MY PROFILE</h2>
        </div>


        <div id="profilepic">
            <img src="public/profilepics/profilepic.png" alt="profilepic" id="photo">

        </div>
        <div id="details" class="box">
            <table class="table_style">
                <tr>
                    <td>
                        NAME:
                    </td>
                    <td>
                        <span id="name">
                            <%= name%>
                        </span>
                    </td>
                </tr>
                <tr>
                    <td>
                        EMAIL:
                    </td>
                    <td>
                        <span id="email">
                            <%= email%>
                        </span>
                    </td>
                </tr>
                <tr>
                    <td>
                        DEPARTMENT:
                    </td>
                    <td>
                        <span id="departrment">
                            <%= branch%>
                        </span>
                    </td>
                </tr>
            </table>
            <br><br><br>
            <div id="btn">
                <a href="/" class="btn1">VIEW MY COURSES</a>
            </div>
        </div>
    </div>
    <script src="public/profile_teacher.js"></script>
</body>

</html>