.topBar{
  position: sticky;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #000000;
  margin-left: -10px;
  margin-top: -10px;
  padding-right: 18px;
  animation-name: slide_down;
  animation-duration: 1.5s;
}
.leftTopbar  a{
  font-size: 40px;
  margin-left: 10px;
  
}
.profile{
  color: black;
}

body{
  background:url(backgroundimage.avif);
  background-size: cover;
  color: black;
}
.rightTopbar {
  position: relative;
  display: flex;
  text-align: center;
  padding-top: 5px;
  padding-right: 35px;
  justify-content: center;
  color: black;
}

.Topdropdown-content {
  display: none;
  position: absolute;
  background-color: #2c456b;
  border-radius: 12%;
  top: 50px;
  width: 140px;
  padding: 10px;
  font-size: large;
  align-items: center;
}
.Topdropdown-content > a,.Topdropdown-content>form>button{
  padding: 7px;
  text-decoration: none;

}
.Topdropdown-content > a:hover, .Topdropdown-content>form>button:hover{
  background-color: #6bc6dd;
  border-radius: 12%;
}
.Topdropdown-content a, .Topdropdown-content>form>button {
  display: block;
  color: #000000;
}

.rightTopbar:hover .Topdropdown-content {
  display: block;
  color: black;
}
.leftTopbar{
  display:inline;
  float: left;
  width: 100%;

}
.home_link{
  text-decoration: none;
  color: #859119;
  text-shadow: 1.5px 1.5px 1.5px rgb(155, 13, 232);
}
.TopDropbtn{
  border-radius: 90%;
  border: none;
  font-size: 40px;
  color: #74C0FC;
}
/*---------------------------------------------------------------------------------------------------------*/
.sidebar a:hover {
  color: #6b81a2;
}

.sidebar {
  margin-top: 50px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color:#3d79bd;
  overflow-x: hidden;
  white-space: nowrap;
  animation-name: slide_right;
  animation-duration: 1.5s;
  padding: 4px;
}
.side_bar_menu{
  padding-top: 40px;
}
.side_bar_link{
  text-decoration: none;
}
.sidenav_icons{
  margin: 4px;
  margin-right: 8px;
  font-size: 300%;
  color: black;
  animation-name: opac;
  animation-duration: 4s
}

.icon-text{
  font-size: 200%;
  vertical-align: 45%;
  text-decoration: none;
  display: none;
  padding: 10px;
  color: #000000;
}
.icon-text:hover{
  color: whitesmoke;
}

/*------------------------------------------------------------------------------------------------------------*/
.classes{
  margin-top: 50px;
  margin-left: 70px;
  margin-right: 40px;
  width: auto;
  height: 150px;
  animation-name: slide_up;
  animation-duration: 1.5s;
}

.class{
  margin: 15px;
  border: #000000 solid;
  border-radius: 15px;
  background-color: #6adbfe;
  animation-name: opac;
  animation-duration: 1.5s;
}

.class_link{
  text-decoration: none;
}
.proff{
  margin: 4px 10px;
  font-size: small;
  color:#000000;
}
.subject_code{
  margin-top: 6px;
  margin-left: 6px;
  font-size:35px;
  font-family:sans-serif;
  color:#000000;
}
.subject_detail{
  margin-top:4px;
  margin-left: 50px;
  font-size: 20px;
  font-family:sans-serif;
  color:#000000;
}
a:visited{
  text-decoration: none;

}

.submit_button{
  margin-left:50px;
  margin-bottom: 50px;
  font-size:20px;
  border-radius: 10px;
}



@keyframes slide_up {
  from{
    transform: translateY(500px);
  }
  to{
    transform: translateY(0px);
  }
}

@keyframes slide_down{
  from{
    transform: translateY(-100px);
  }
  to{
    transform: translateY(0px);
  }
}

@keyframes slide_right {
  from{
    transform: translateX(-100px);
  }
  to{
    transform: translateX(0px);
  }
}

@keyframes opac {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}